@model List<AppView.Areas.Admin.ViewModels.DanhMucViewModel>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
}

<h2>Danh mục</h2>
<a class="btn btn-success mb-3" asp-area="Admin" asp-controller="DanhMuc" asp-action="Create" class="btn btn-primary mb-3">➕ Thêm mới</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên danh mục</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenDanhMuc</td>
                <td>@item.MoTa</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DanhMucId" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-area="Admin" asp-controller="DanhMuc" asp-action="Delete" asp-route-id="@item.DanhMucId" class="btn btn-danger btn-sm"
                       onclick="return confirm('Xác nhận xoá?')">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
