@using AppApi.Features.Auth.DTOs

@model ForgotPasswordDto
@{
    ViewData["Title"] = "Quên mật khẩu";
}
<h2>Quên mật khẩu</h2>

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <button type="submit" class="btn btn-warning mt-3">Gửi liên kết đặt lại mật khẩu</button>
</form>