@using AppView.Areas.Auth.ViewModel
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "_MyLayout";
}

<h2>Đặt lại mật khẩu</h2>

<form asp-action="ResetPassword" method="post">
    @* Ẩn các giá trị để truyền về *@
    <input asp-for="Email" type="hidden" />
    <input asp-for="Token" type="hidden" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="NewPassword" type="password" placeholder="Mật khẩu mới" class="form-control" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>

    <input asp-for="ConfirmNewPassword" type="password" placeholder="Xác nhận mật khẩu mới" class="form-control" />
    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

    <button type="submit" class="btn btn-primary mt-3">Đặt lại mật khẩu</button>
</form>
